/* reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
ul,
li,
dl,
dt,
dd,
img,
br {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", "맑은 고딕", "나눔고딕", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
ul,
li,
dl,
dt,
dd {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
address {
  font-style: normal;
}

/* common */
.hide {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

/* skip menu */
.skip_menu {
  position: absolute;
  left: 10px;
  top: -100px;
  width: 200px;
}
.skip_menu a {
  display: block;
  background-color: #194e91;
  color: #fff;
  padding: 5px;
  position: absolute;
}
.skip_menu a:focus,
.skip_menu a:active {
  top: 110px;
}
/* active는 클릭했을때. focus는 shift+tab 했을때.
숨겨놨다가 보여야 하니까 top 값을 바꿈 */

.wrap {
  max-width: 100%;
}

/* header */
#header {
  height: 160px;
  width: 100%;
  position: relative;
  z-index: 10;
  justify-content: center;
  border-bottom: 10px solid #194e91;
  box-sizing: border-box;
}
.header_top {
  height: 35px;
  width: 1200px;
  margin: 0 auto 55px;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.brand_section .brand_wrap .brand_image img {
  width: 160px;
  height: 160px;
  border: 2px solid #e7e7e7;
  border-radius: 20px;
  box-sizing: border-box;
}

.brand_section .brand_wrap .brand_image img:hover{
  border: 2px solid #194e91;
  box-sizing: border-box;
}

/* family site */
.family_site_header {
  width: 250px;
  height: 35px;
  background-color: #194e91;
  color: #fff;
  border-radius: 0 0 10px 10px;
}
.family_site_header ul {
  width: 215px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -1px;
}
.family_site_header ul > li {
  margin-top: 7px;
}
.family_site_header ul > li > a {
  font-size: 14px;
}
/* 추가! */
.family_site_header ul > li > a:hover{
  text-decoration: underline;
}

/* util menu */
.util_menu {
  width: 362px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* 추가! */
  right: 0; /* 추가! */
}
.util_menu a {
  height: 20px;
  display: block;
  font-size: 14px;
}
/* 추가! */
.util_menu a:hover{
  text-decoration: underline;
}
.util_menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
}
.util_menu li img {
  /* position: absolute; */
  position: relative;
  top: -2px;
  width: 20px;
  height: 20px;
  margin-right: 9px;
  vertical-align: middle;
}
/* 추가! */
.search_bar input{
  position: absolute;
  right: 0;
  top: 50px;
  width: 200px;
  height: 30px;
  border: 2px solid #194e91;
  border-radius: 20px;
  padding: 0 15px;
  box-sizing: border-box;
  
}
.search_bar input:focus{
  border: 2px solid #194e91;
  outline: none;
}
.search_bar img{
  width: 20px;
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 55px;
}
.hidden {
  display: none;
}

/* header bottom */
.header_bottom {
  width: 1200px;
  margin: 0 auto 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* logo */
.logo {
  width: 80px;
  height: 34px;
  top: 107px;
  padding-bottom: 28px;
  box-sizing: border-box;
}

/* main */
.main {
  width: 100%;
}
#main section {
  /*  max-width: 1600px; */

  margin: 0 auto;
}

/* gnb */
.gnb {
  height: 38px;
  margin: 0 auto;
}
.gnb > ul {
  width: 920px;
  height: 65px;
  padding-top: 5px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.all_menu {
  display: block;
}
.all_menu img {
  width: 38px;
  height: 38px;
  padding-top: 5px;
}
.nav_bg {
  width: 100%;
  height: 502px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  top: 0px;
  display: none;
  z-index: -1;
}
.gnb ul ul li:first-child {
  font-weight: bold;
}
.gnb div {
  position: absolute;
  top: 70px; /* 추가! */
  width: 171px;
  height: 450px;
  text-align: center;
  padding: 25px 0;
  display: none;
}
.gnb ul ul {
  border-right: 1px solid #194e91;
  height: 420px;
  text-align: center;
  box-sizing: border-box;
}
.gnb ul li:last-child ul {
  border-right: 0 none;
}
.gnb ul ul li {
  font-size: 16px;
  font-weight: normal;
  padding: 9px 0;
  box-sizing: border-box;
}
.gnb ul ul li:not(:first-child):hover {
  background-color: #194e91;
  color: #fff;
}

/* 추가! */
.spread_underline {
  color: #333;
  text-decoration: none;
  padding: 15px 0;
  position: relative;
}
.spread_underline:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #194e91;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.spread_underline:hover:after {
  width: 100%;
  left: 0;
}
/* 여기까지 */


.menu01 div {
  left: 0;
}
.menu02 div {
  left: 171px;
}
.menu03 div {
  left: 342px;
}
.menu04 div {
  left: 513px;
}
.menu05 div {
  left: 683px;
}
.menu06 div {
  left: 854px;
}
.menu07 div {
  left: 1025px;
}

/* main content */
.swiper {
  height: 500px;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2);
}
/* .swiper > div {
    width: 100%;
    height: 600px;
    flex: none;
} */
.swiper-wrapper {
  width: 7680px;
  transition: transform 0.5s ease-in-out;
}
.main_img {
  width: 100%;
  height: 500px;
  margin: auto;
  object-fit: cover;
  position: absolute;
  /* top: -160px;  */
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.swiper-wrapper > div {
  width: 1200px;
  height: 600px;
  /* top: 160px; */
  margin: auto;
}
.swiper-wrapper > div > div {
  min-width: 1200px;
  top: 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
}
.main01_cont img:not(:nth-child(3)) {
  display: block;
  position: relative;
  left: 0px;
  top: 160px;
}
.main02_cont > div,
.main03_cont > div,
.main04_cont > div {
  position: relative;
  left: 0px;
  top: 160px;
}
.swiper-wrapper:not(:first-child) > div > div {
  display: flex;
  display: block;
  position: absolute;
  left: 70px;
}
.main01_cont img:nth-child(3) {
  display: block;
  position: relative;
  left: 240px;
  top: 92px;
}
.main02_cont > div > img:first-child {
  margin-right: 15px;
}
.main02_cont > div > img:nth-child(2) {
  margin-right: 10px;
}
.main03_cont > div > img:first-child {
  margin-right: 10px;
}
.main04_cont > div > img:first-child {
  margin-right: 20px;
}
.main01_cont p {
  position: relative;
  top: 132px;
  left: 0px;
  font-size: 22px;
  color: #fff;
}
.main02_cont p,
.main03_cont p,
.main04_cont p {
  position: relative;
  font-size: 22px;
  color: #fff;
  left: 0px;
  top: 200px;
}
.swiper-pagination {
  padding-bottom: 35px;
  text-align: center;
  z-index: 10;
  position: absolute;
  width: 100%;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255);
}
.swiper-pagination-bullet-active {
  background-color: #194e91 !important;
  opacity: 1;
}
/* Play/Pause Button */
.play-pause-button {
  position: absolute;
  bottom: 36px;
  left: 50%;
  margin-left: 40px;
  z-index: 10;
}
.play-pause-button img {
  width: 23px;
  height: 23px;
  cursor: pointer;
  object-fit: contain;
  position: relative;
  /* left: 1005px;
   top: 373px; */
}

/* 기업소개 */

.intro_section {
  width: 100%;
  height: auto;
  background: url(../images/기업소개_꽃01.png) no-repeat;
}

.intro_section2 {
  width: 100%;
  height: auto;
  background: url(../images/기업소개_꽃02.png) no-repeat right bottom;
}

.intro_section_wrap {
  min-width: 1200px;
  padding: 100px 0 100px;
  margin: auto;
  text-align: center;
}

.intro_section_wrap > img {
  margin: 50px 0 40px;
}

.intro_section_wrap .box_wrap {
  width: 100%;
}

.intro_section_wrap .box {
  display: flex;
  width: 600px;
  height: 120px;
  margin: 0 auto 50px;
  justify-content: space-between;
}

.intro_section_wrap .intro_image_wrap {
  width: 100%;
  margin-top: 50px;
}

.intro_section_wrap .intro_image {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 300px;
  margin-top: 50px;
  margin: auto;
}

.intro_section_wrap .intro_image img {
  width: 380px;
  height: 240px;
  border-radius: 20px;
}

/* 사회공헌 */

.social_section {
  width: 100%;
  padding: 100px 0 150px;
  background: url(../images/사회공헌_background.jpg);
  background-size: cover;
}

.social_section .social_section_wrap {
  width: 1200px;
  margin: auto;
  text-align: center;
}

.social_section .social_section_wrap > img {
  margin: 50px 0 80px;
}

.social_section .social_section_wrap .social_image {
  width: 1200px;
  height: 200px;
  display: flex;
  justify-content: space-around;
}

.social_section .social_section_wrap .social_image p {
  width: 200px;
}

.social_section .social_section_wrap .social_image img {
  width: 200px;
  height: 200px;
  margin-right: 100px;
}

.social_section .social_section_wrap .social_txt {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 1200px;
}

.social_section .social_section_wrap .social_txt p {
  width: 380px;
  height: 110px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;

  color: #ffffff;
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* product */

#main .product_section {
  text-align: center;
  padding: 100px 0 50px;
  margin-bottom: 0;
}

.product_section .product_wrap {
  overflow: hidden;
  margin: auto;
}

.product_section .product_wrap img {
  width: 180px;
}

.product_section .product_wrap ul {
  display: flex;
  position: relative;
  width: 1200px;
  font-size: 16px;
}

.product_section .product_wrap ul li {
  margin-right: 24px;
}

.product_section .product_wrap a ul li img{
  margin-bottom: 20px;
}

.product_section .product_box {
  width: 1200px;
  height: 400px;
  position: relative;
  margin: auto;
}

.product_section .product_box .before {
  position: absolute;
  top: 250px;
  left: -50px;
}

.product_section .product_box .before img {
  width: 35px;
  transform: rotate(180deg);
}

.product_section .product_box .next {
  position: absolute;
  top: 250px;
  right: -50px;
}

.product_section .product_box .next img {
  width: 35px;
}

/* brand-shop */
.brand_section {
  width: 100%;
  padding: 50px 0 50px;
}

.txt_mb {
  margin-bottom: 50px;
}

.brand_section .brand_wrap {
  width: 100%;
  text-align: center;
  margin: auto;
  height: 350px;
}

.brand_logo_wrap {
  width: 1200px;
  position: relative;
  margin: auto;
}

.brand_section .brand_wrap .brand_image {
  width: 1200px;
  height: 214px;
  display: flex;
  justify-content: space-between;
}


.brand_section .all_view {
  width: 110px;
  height: 35px;
  background: #143c70;
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: -60px;
}

.brand_section .all_view img {
  width: 13px;
  height: 13px;
  margin-left: 10px;
}

/* notice_customer */

.notice_customer_bg {
  width: 100%;

  box-sizing: border-box;
  margin: 0 auto;
  background-color: #fafafa;
}
.notice_customer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 50px 0 50px;
  box-sizing: border-box;
}

.customer h2 {
  margin-bottom: 75px;
  box-sizing: border-box;
}
.notice h2 {
  margin-bottom: 45px;

  box-sizing: border-box;
}
.notice {
  width: 540px;
  margin-right: 120px;
  margin-top: 10px;
}

.notice_box {
  width: 540px;
  height: 325px;
  position: relative;
}

.notice li {
  width: 540px;
  height: 88px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #000;
  font-size: 16px;
  position: relative;
}
.notice li:hover {
  text-decoration: underline;
}
.notice_date {
  position: absolute;
  right: 0;
  top: 33px;
}
.notice_customer .notice .notice_cont {
  width: 400px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notice_more {
  position: absolute;
  right: 0px;
  top: -88px;
}

/* customer */
.customer_text {
  position: absolute;
  margin: 120px 0 100px 40px;
}
.customer_box {
  border: 1px solid #cfcfcf;
  height: 325px;
  width: 540px;
  border-radius: 20px;
  box-shadow: #dadada5e 5px 5px 5px;
  box-sizing: border-box;
  position: relative;
  background: url(../images/고객문의_배경.png);
}

.customer_go {
  position: absolute;
  right: 40px;
  bottom: 50px;
}
/* instagram */
#main .instagram_wrap {
  width: 100%;
  margin: 0 auto 0;
}

.instagram > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;

  box-sizing: border-box;
}
.instagram_box {
  position: relative;
  width: 1200px;
  margin: auto;
}
.instagram {
  width: 1200px;
  padding: 50px 0 200px;
  box-sizing: border-box;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
}

.instagram > ul {
  position: relative;
  display: flex;
  width: 1200;
}
.instagram li {
  width: 224px;
  height: 224px;
  margin-right: 20px;
}

.instagram ul li:last-child {
  margin-right: none;
}
.instagram > ul > li > a {
  width: 224px;
  height: 224px;
  display: block;
  overflow: hidden;
  border-radius: 20px;
}
.instagram > ul > li > a > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  transform: scale(1);
  transition-duration: 0.5s;
}

.instagram > ul > li > a > img:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
.insta_prev {
  width: 35px;
  height: 35px;
  position: absolute;
  left: -50px;
  bottom: 290px;
  rotate: 180deg;
  cursor: pointer;
}
.insta_next {
  width: 35px;
  height: 35px;
  position: absolute;
  right: -50px;
  bottom: 290px;
  cursor: pointer;
}
/*TOP BUTTON*/
.top_button_wrap{
  width: 100%;
  margin: auto;
}
.top_button{
  z-index: 15; /* 추가! */
  position:fixed;
  right: 3vw;
  bottom: 2vh;
}
.top_button img{
  width: 60px;
  height: 60px;
}
/* footer */
.maeil_footer {
  width: 100%;
  margin: 0 auto;
}
footer h3 {
  font-size: 20px;
}
.footer_bg {
  width: 100%;
  margin: 0 auto;
  background: #194e91;
  height: 290px;
  box-sizing: border-box;
}
.maeil_footer .footer_bg .footer_wrap {
  width: 1200px;
  margin: 0 auto;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer_wrap {
  position: relative;
}
.contact_us {
  margin-top: 30px;
}
.contact_us h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.contact_us > p {
  font-size: 15px;
  margin-bottom: 10px;
}
.maeil_map_footer {
  border: 1px solid #fff;
  height: 35px;
  width: 175px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  text-indent: 24px;
  background: url(../images/home.svg) no-repeat left/20px;
  background-position-x: 5px;
  box-sizing: border-box;
}
.maeil_map_footer > a {
  background: url(../images/arrow_white.svg) no-repeat right/15px;
  background-position-x: 170px;
}
.agreement a {
  width: 100%;
}
.agreement_address_wrap {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  width: 1200px;
  position: absolute;
  white-space: nowrap;
  margin-top: 165px;
  bottom: -30px;
  font-size: 14px;
}
.agreement > a > img {
  display: inline-block;
  width: 20px;
  vertical-align: middle;
}
.agreement > a:hover {
  text-decoration: underline;
}
.agreement > a:last-child {
  padding: 5px 10px;
  border-radius: 20px;
  box-sizing: border-box;
  background: #143c70;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.agreement_address_wrap {
  line-height: 2;
  margin-bottom: -30px;
}

.sns {
  width: 200px;
  margin-top: 102px;
}
.sns h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sns ul {
  display: flex;
  justify-content: center;
}
.sns img {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.sns > ul > li {
  margin-right: 10px;
}

.tel {
  width: 150px;
  height: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
/* famiily_site */
.family_site {
  margin-top: 126px;
  position: relative;
  width: 190px;
  margin-bottom: 10px;
}
.family_site:hover {
  cursor: pointer;
}
.family_site h3 {
  border: 3px solid #fff;
  border-radius: 30px;
  padding: 10px 40px 10px 25px;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: normal;
}
.family_site h3 img {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 15px;
}
.family_site ul {
  width: 190px;
  z-index: 10;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 300px;
  overflow-y: auto;
  box-sizing: border-box;
  position: absolute;
  bottom: 75px;
  right: 0px;
  border-radius: 8px;
  padding: 3px;
  display: none;
}
.family_site_option a {
  width: 182px;
}
.family_site ul::-webkit-scrollbar {
  width: 8px;
}

.family_site ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 7px;
}

.family_site ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.family_site ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.family_site ul li {
  color: #000;
  font-size: 12px;
  line-height: 3;
  text-indent: 3px;
  border-radius: 5px;
}
.family_site ul li:hover {
  background-color: #194e91;
  color: #fff;
}
.family_site ul li.active {
  background-color: #194e91;
  color: #fff;
}
