

.side_menu01_open {
  display: none;
}
.side_menu02_open {
  display: none;
}

.main_wrap {
  width: 1200px;
  margin: auto;
  height: 3350px;
  position: relative;
  z-index: 2;
  display: flex;
}

.info {
  padding: 60px 0 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d4d4;
}

.info1{
  padding-top: 0;
}

.graph{
  position: relative;
}

.graph img{
  width: 900px;
}

.graph p{
  position: absolute;
  top:-30px;
  left: 15px;
  color: #736F6F;
}

.mb_img{
  width: 700px;
}

.per_01{
  width: 80px;
  height: 440px;
  background: #5383C1;
  position: absolute;
  left: 170px;
  bottom: 40px;
  z-index: 3;
}

.per_02{
  width: 80px;
  height: 310px;
  background: #5383C1;
  position: absolute;
  left: 313px;
  bottom: 40px;
  z-index: 3;
}

.per_03{
  width: 80px;
  height: 140px;
  background: #5383C1;
  position: absolute;
  left: 455px;
  bottom: 40px;
  z-index: 3;
}

.per_04{
  width: 80px;
  height: 90px;
  background: #5383C1;
  position: absolute;
  left: 595px;
  bottom: 40px;
  z-index: 3;
}

.per_05{
  width: 80px;
  height: 30px;
  background: #5383C1;
  position: absolute;
  left: 740px;
  bottom: 40px;
  z-index: 3;
}



.bd_bt {
  border-bottom: none;
}

.brand_bg {
  background: #eef8fd;
  border-bottom: none;
}

section h2 {
  margin-bottom: 30px;
}

section {
  margin: 30px 0 30px;
}

.company_info {
  position: relative;
}

.company_info .info_wrap{

  overflow: hidden;
  width: 700px;
  height: 353px;
  margin: auto;
  margin-bottom: 20px;
}

.arrow_right {
  position: absolute;
  width: 25px;
  top: 4px;
  right: 300px;
}

.mb_img {
  margin-bottom: 10px;

}

.mb_img:hover{
  transform: scale(1.2);
  transition: all 0.4s ease;
}

.mb_txt {
  margin-bottom: 30px;
}

.brand_wrap {
  background: #eef8fd;
}

.brand_box {
  width: 930px;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* background: #eef8fd; */
}

.brand_box a img {
  border-radius: 50%;
  width: 130px;
  border: 1px solid #e0e0e0;
}

.brand_box a img:hover{
  border: 1px solid #084f8c;
}

.brand_box dt {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 10px;
  cursor: default;
}

.brand_box dd {
  font-size: 14px;
  width: 270px;
  cursor: default;
}

.brand_01,
.brand_02,
.brand_03 {
  width: 270px;

  border-radius: 20px;
}

.brand_wrap .mb {
  margin-bottom: 30px;
}

.depth1 {
  background: #084f8c;
  color: #fff;
}

hr {
  margin: 60px 0 60px;
}

.arrow_right1 {
  position: absolute;
  left: 280px;
  top: 50px;
  width: 30px;
  height: 30px;
}

.arrow_right2 {
  position: absolute;
  right: 290px;
  top: 50px;
  width: 30px;
  height: 30px;
}
